* {
    font-family: "TH Sarabun New";
    font-size: 28px;
}

.container{
   content: '';
   height: 4px;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--color-blue);
   background: -moz-linear-gradient(left,  var(--color-blue) 0%, var(--color-blue) 33%, var(--color-yellow) 34%, var(--color-yellow) 100%);
   background: -webkit-linear-gradient(left,  var(--color-blue) 0%,var(--color-blue) 33%, var(--color-yellow) 34%,var(--color-yellow) 100%);
   background: linear-gradient(to right,  var(--color-blue) 0%,var(--color-blue) 33%, var(--color-yellow) 34%,var(--color-yellow) 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color-blue), endColorstr=var(--color-yellow),GradientType=1 );
}

.menu-nav {
    color: var(--color-gray);
}

.liner-gray {
    border-right: 2px solid var(--color-gray-light);
    height: 40px;
    position: absolute;
    padding-left: 35px;
}