* {
    font-family: "TH Sarabun New";
    font-size: 28px;
  }
  
  .top-line::before {
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    background: var(--color-blue);
    background: -moz-linear-gradient(
      left,
      var(--color-blue) 0%,
      var(--color-blue) 33%,
      var(--color-yellow) 34%,
      var(--color-yellow) 100%
    );
    background: -webkit-linear-gradient(
      left,
      var(--color-blue) 0%,
      var(--color-blue) 33%,
      var(--color-yellow) 34%,
      var(--color-yellow) 100%
    );
    background: linear-gradient(
      to right,
      var(--color-blue) 0%,
      var(--color-blue) 33%,
      var(--color-yellow) 34%,
      var(--color-yellow) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color-blue), endColorstr=var(--color-yellow),GradientType=1 );
  }
  
  .menu-nav {
    color: var(--color-gray);
  }
  
  .liner-gray {
    border-right: 2px solid var(--color-gray-light);
    height: 2px;
  }
  
  a {
    position: relative;
    text-decoration: none;
    color: var(--color-black);
    letter-spacing: 0.5px;
  }
  
  a:after {
    content: "";
    position: relative;
    background-color: var(--color-blue);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 5px;
    transition: 0.3s;
  }
  
  a:hover {
    color: var(--color-blue);
    text-decoration: underline;
  }
  
  a:hover:after {
    width: 100%;
  }
  