@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-sarabun);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@layer base {
  :root {
    --color-white: #fafaf9;
    --color-gray: #828282;
    --color-gray-light: #bbbbbe;
    --color-blue: #162f65;
    --color-yellow: #e8af30;
    --color-yellow-light: #e8c766;
  }
}

.main-content {
  min-height: calc(100vh - 262px);
}
/* body {
  font-family: 'Sarabun', sans-serif;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
